.btn {
    display: flex;
    align-items: center;
    width: 100%;
    color: inherit;
    text-transform: uppercase;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.primary {
    background-color: var(--primary);
    color: #fff;
}

.outline {
    outline: 1px solid var(--primary);
    color: var(--primary);
    background: none;
}

.danger {
    outline: 1px solid var(--danger);
    color: var(--danger);
    background: none;
}
