.form {
    max-width: 32rem;
    margin: 0 auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

select {
    background-color: var(--background-colour);
    color: inherit;
    padding: 5px;
    border: none;
    padding: 0.8rem 1.2rem;
    appearance: none;
    cursor: pointer;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
