.form {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 24rem;
    align-items: start;
}

.content {
    background-color: var(--card-background-colour);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: var(--box-shadow);
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ticket {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

select {
    background-color: var(--background-colour);
    color: inherit;
    padding: 5px;
    border: none;
    padding: 0.8rem 1.2rem;
    appearance: none;
    cursor: pointer;
    width: 100%;
}
