.item {
    background-color: var(--card-background-colour);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: solid 3px var(--primary);
}

.dragging {
    scale: 1.05;
}

.content h3 {
    margin-bottom: 1rem;
}

.ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticket button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bookmark {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
