.column {
    flex: 1;
    background-color: var(--background-colour);
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.column h2 {
    margin-bottom: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
