.backlog {
    padding: 1rem;
    background-color: var(--card-background-colour);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    flex: 1;
}

.backlog ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
