.item {
    background-color: var(--background-colour);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-left: solid 3px var(--primary);
}

.content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    font-weight: 700;
}

.item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
